
CREATE TABLE SAW.Address(
	AddressID int NOT NULL,
	AddressLine1 nvarchar(60) NOT NULL,
	AddressLine2 nvarchar(60) NOT NULL,
	City nvarchar(60) NOT NULL,
	StateProvince nvarchar(60) NOT NULL,
	CountyRegion nvarchar(60) NOT NULL,
	PostalCode nvarchar(60) NOT NULL,
 CONSTRAINT PK_SAW_Address_AddressID PRIMARY KEY CLUSTERED 
(
	AddressID ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON PRIMARY
) ON PRIMARY

/****** Object:  Table SAW.Customer    Script Date: 2023-07-16 8:29:26 PM ******/

CREATE TABLE SAW.Customer(
	CustomerID int NOT NULL,
	Title nvarchar(50) NULL,
	FirstName varchar(50) NULL,
	MiddleName varchar(50) NULL,
	LastName varchar(50) NULL,
	Suffix varchar(20) NULL,
	CompanyName varchar(150) NULL,
	SalesPerson varchar(50) NULL,
	EmailAddress nvarchar(50) NULL,
	Phone varchar(50) NULL,
	PasswordHash varchar(50) NULL,
	PasswordSalt varchar(50) NULL,
 CONSTRAINT PK_SAW_Customer_CustomerID PRIMARY KEY CLUSTERED 
(
	CustomerID ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON PRIMARY
) ON PRIMARY

/****** Object:  Table SAW.CustomerAddress    Script Date: 2023-07-16 8:29:26 PM ******/

CREATE TABLE SAW.CustomerAddress(
	CustomerID int NOT NULL,
	AddressID int NOT NULL,
	AddressType nvarchar(50) NOT NULL,
	Customer_Address_ID varchar(50) NOT NULL,
 CONSTRAINT PK_SAW_CustomerAddressNew_Customer_Address_ID PRIMARY KEY CLUSTERED 
(
	Customer_Address_ID ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON PRIMARY
) ON PRIMARY


CREATE TABLE [SAW].[Product](
	[ProductID] [int] NOT NULL,
	[Name] [varchar](50) NULL,
	[ProductNumber] [nvarchar](50) NOT NULL,
	[Color] [nvarchar](15) NULL,
	[StandardCost] [money] NOT NULL,
	[ListPrice] [money] NOT NULL,
	[Sze] [nvarchar](15) NULL,
	[Weight] [nvarchar](15) NULL,
	[ProductCategoryID] [int] NULL,
	[ProductModelID] [int] NULL,
	[SellStartDate] [datetime] NOT NULL,
	[SellEndDate] [datetime] NULL,
 CONSTRAINT [PK_SAW_Product_ProductID] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SAW].[ProductCategory]    Script Date: 2023-07-16 9:28:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SAW].[ProductCategory](
	[ProductCategoryID] [int] NOT NULL,
	[ParentProductCategoryID] [int] NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_SAW_ProductCategory_ProductCategoryID] PRIMARY KEY CLUSTERED 
(
	[ProductCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SAW].[ProductDescription]    Script Date: 2023-07-16 9:28:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SAW].[ProductDescription](
	[ProductDescriptionID] [int] NOT NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_SAW_ProductDescription_ProductDescriptionID] PRIMARY KEY CLUSTERED 
(
	[ProductDescriptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SAW].[ProductModel]    Script Date: 2023-07-16 9:28:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SAW].[ProductModel](
	[ProductModelID] [int] NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_SAW_ProductModel_ProductModelID] PRIMARY KEY CLUSTERED 
(
	[ProductModelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SAW].[ProductModelProductDescription]    Script Date: 2023-07-16 9:28:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SAW].[ProductModelProductDescription](
	[ProductModelID] [int] NULL,
	[ProductDescriptionID] [int] NOT NULL,
	[Culture] [varchar](50) NULL,
 CONSTRAINT [PK_SAW_ProductModelProductDescriptionNew_ProductDescriptionID] PRIMARY KEY CLUSTERED 
(
	[ProductDescriptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SAW].[SalesOrderDetail]    Script Date: 2023-07-16 9:28:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SAW].[SalesOrderDetail](
	[SalesOrderID] [int] NOT NULL,
	[SalesOrderDetailID] [int] NOT NULL,
	[OrderQty] [smallint] NOT NULL,
	[ProductID] [int] NOT NULL,
	[UnitPrice] [money] NOT NULL,
	[UnitPriceDiscount] [float] NULL,
 CONSTRAINT [PK_SalesOrderDetail_SalesOrderDetailID] PRIMARY KEY CLUSTERED 
(
	[SalesOrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SAW].[SalesOrderHeader]    Script Date: 2023-07-16 9:28:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SAW].[SalesOrderHeader](
	[SalesOrderID] [int] NOT NULL,
	[RevisionNumber] [tinyint] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[DueDate] [datetime] NOT NULL,
	[ShipDate] [datetime] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[SalessOrderNumber] [nvarchar](23) NULL,
	[PurchaseOrderNumber] [nvarchar](23) NULL,
	[AccountNumber] [nvarchar](23) NULL,
	[CustomerID] [int] NOT NULL,
	[ShipToAddressID] [int] NOT NULL,
	[BillToAddressID] [int] NOT NULL,
	[ShipMethod] [varchar](50) NULL,
	[SubTotal] [money] NOT NULL,
	[TaxAmt] [money] NOT NULL,
	[Freight] [money] NOT NULL,
	[Commnt] [nvarchar](128) NULL,
 CONSTRAINT [PK_SAW_SalesOrderHeader_SalesOrderID] PRIMARY KEY CLUSTERED 
(
	[SalesOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT SAW.Address (AddressID, AddressLine1, AddressLine2, City, StateProvince, CountyRegion, PostalCode) VALUES (9, N'8713 Yosemite Ct.', N'NULL', N'Bothell', N'Washington', N'United States', N'98011')
INSERT SAW.Address (AddressID, AddressLine1, AddressLine2, City, StateProvince, CountyRegion, PostalCode) VALUES (11, N'1318 Lasalle Street', N'NULL', N'Bothell', N'Washington', N'United States', N'98011')
INSERT SAW.Address (AddressID, AddressLine1, AddressLine2, City, StateProvince, CountyRegion, PostalCode) VALUES (25, N'9178 Jumping St.', N'NULL', N'Dallas', N'Texas', N'United States', N'75201')
GO




INSERT SAW.Customer (CustomerID, Title, FirstName, MiddleName, LastName, Suffix, CompanyName, SalesPerson, EmailAddress, Phone, PasswordHash, PasswordSalt) VALUES (1, N'Mr.', N'Orlando', N'N.', N'Gee', N'NULL', N'A Bike Store', N'adventure-workspamela0', N'orlando0@adventure-works.com', N'245-555-0173', N'L/Rlwxzp4w7RWmEgXX+/A7cXaePEPcp+KwQhl2fJL7w=', N'1KjXYs4=')
INSERT SAW.Customer (CustomerID, Title, FirstName, MiddleName, LastName, Suffix, CompanyName, SalesPerson, EmailAddress, Phone, PasswordHash, PasswordSalt) VALUES (2, N'Mr.', N'Keith', N'NULL', N'Harris', N'NULL', N'Progressive Sports', N'adventure-worksdavid8', N'keith0@adventure-works.com', N'170-555-0127', N'YPdtRdvqeAhj6wyxEsFdshBDNXxkCXn+CRgbvJItknw=', N'fs1ZGhY=')
INSERT SAW.Customer (CustomerID, Title, FirstName, MiddleName, LastName, Suffix, CompanyName, SalesPerson, EmailAddress, Phone, PasswordHash, PasswordSalt) VALUES (3, N'Ms.', N'Donna', N'F.', N'Carreras', N'NULL', N'Advanced Bike Components', N'adventure-worksjillian0', N'donna0@adventure-works.com', N'279-555-0130', N'LNoK27abGQo48gGue3EBV/UrlYSToV0/s87dCRV7uJk=', N'YTNH5Rw=')





INSERT SAW.CustomerAddress (CustomerID, AddressID, AddressType, Customer_Address_ID) VALUES (560, 893, N'Main Office', N'00DF8FDA-299D-4EB6-BCB3-3118A907E61B')
INSERT SAW.CustomerAddress (CustomerID, AddressID, AddressType, Customer_Address_ID) VALUES (218, 857, N'Main Office', N'013EBE70-937D-4CA7-8CEE-C782257253F2')
INSERT SAW.CustomerAddress (CustomerID, AddressID, AddressType, Customer_Address_ID) VALUES (397, 876, N'Main Office', N'02287DF0-2062-4266-8B3C-ABE025484B9A')





INSERT [SAW].[Product] ([ProductID], [Name], [ProductNumber], [Color], [StandardCost], [ListPrice], [Sze], [Weight], [ProductCategoryID], [ProductModelID], [SellStartDate], [SellEndDate]) VALUES (680, N'"HL Road Frame - Black, 58"', N'FR-R92B-58', N'Black', 1059.3100, 1431.5000, N'58', N'1016.04', 18, 6, CAST(N'1998-06-01T00:00:00.000' AS DateTime), NULL)
INSERT [SAW].[Product] ([ProductID], [Name], [ProductNumber], [Color], [StandardCost], [ListPrice], [Sze], [Weight], [ProductCategoryID], [ProductModelID], [SellStartDate], [SellEndDate]) VALUES (706, N'"HL Road Frame - Red, 58"', N'FR-R92R-58', N'Red', 1059.3100, 1431.5000, N'58', N'1016.04', 18, 6, CAST(N'1998-06-01T00:00:00.000' AS DateTime), NULL)
INSERT [SAW].[Product] ([ProductID], [Name], [ProductNumber], [Color], [StandardCost], [ListPrice], [Sze], [Weight], [ProductCategoryID], [ProductModelID], [SellStartDate], [SellEndDate]) VALUES (707, N'"Sport-100 Helmet, Red"', N'HL-U509-R', N'Red', 13.0900, 34.9900, N'null', N'null', 35, 33, CAST(N'2001-07-01T00:00:00.000' AS DateTime), NULL)
GO
INSERT [SAW].[ProductCategory] ([ProductCategoryID], [ParentProductCategoryID], [Name]) VALUES (1, NULL, N'Bikes')
INSERT [SAW].[ProductCategory] ([ProductCategoryID], [ParentProductCategoryID], [Name]) VALUES (2, NULL, N'Components')
INSERT [SAW].[ProductCategory] ([ProductCategoryID], [ParentProductCategoryID], [Name]) VALUES (3, NULL, N'Clothing')
GO
INSERT [SAW].[ProductDescription] ([ProductDescriptionID], [Description]) VALUES (3, N'Chromoly steel.')
INSERT [SAW].[ProductDescription] ([ProductDescriptionID], [Description]) VALUES (4, N'Aluminum alloy cups; large diameter spindle.')
INSERT [SAW].[ProductDescription] ([ProductDescriptionID], [Description]) VALUES (5, N'Aluminum alloy cups and a hollow axle.')
GO
INSERT [SAW].[ProductModel] ([ProductModelID], [Name]) VALUES (1, N'Classic Vest')
INSERT [SAW].[ProductModel] ([ProductModelID], [Name]) VALUES (2, N'Cycling Cap')
INSERT [SAW].[ProductModel] ([ProductModelID], [Name]) VALUES (3, N'Full-Finger Gloves')
GO
INSERT [SAW].[ProductModelProductDescription] ([ProductModelID], [ProductDescriptionID], [Culture]) VALUES (95, 3, N'en')
INSERT [SAW].[ProductModelProductDescription] ([ProductModelID], [ProductDescriptionID], [Culture]) VALUES (96, 4, N'en')
INSERT [SAW].[ProductModelProductDescription] ([ProductModelID], [ProductDescriptionID], [Culture]) VALUES (97, 5, N'en')
GO
INSERT [SAW].[SalesOrderDetail] ([SalesOrderID], [SalesOrderDetailID], [OrderQty], [ProductID], [UnitPrice], [UnitPriceDiscount]) VALUES (71774, 110562, 1, 836, 356.9000, 0)
INSERT [SAW].[SalesOrderDetail] ([SalesOrderID], [SalesOrderDetailID], [OrderQty], [ProductID], [UnitPrice], [UnitPriceDiscount]) VALUES (71774, 110563, 1, 822, 356.9000, 0)
INSERT [SAW].[SalesOrderDetail] ([SalesOrderID], [SalesOrderDetailID], [OrderQty], [ProductID], [UnitPrice], [UnitPriceDiscount]) VALUES (71776, 110567, 1, 907, 63.9000, 0)
GO
INSERT [SAW].[SalesOrderHeader] ([SalesOrderID], [RevisionNumber], [OrderDate], [DueDate], [ShipDate], [Status], [SalessOrderNumber], [PurchaseOrderNumber], [AccountNumber], [CustomerID], [ShipToAddressID], [BillToAddressID], [ShipMethod], [SubTotal], [TaxAmt], [Freight], [Commnt]) VALUES (71774, 1, CAST(N'2004-06-01T00:00:00.000' AS DateTime), CAST(N'2004-06-13T00:00:00.000' AS DateTime), CAST(N'2004-06-08T00:00:00.000' AS DateTime), 5, N'SO71774', N'PO348186287', N'10-4020-000609', 609, 1092, 1092, N'CARGO TRANSPORT 5', 880.3500, 70.4300, 22.0100, N'972.785')
INSERT [SAW].[SalesOrderHeader] ([SalesOrderID], [RevisionNumber], [OrderDate], [DueDate], [ShipDate], [Status], [SalessOrderNumber], [PurchaseOrderNumber], [AccountNumber], [CustomerID], [ShipToAddressID], [BillToAddressID], [ShipMethod], [SubTotal], [TaxAmt], [Freight], [Commnt]) VALUES (71776, 1, CAST(N'2004-06-01T00:00:00.000' AS DateTime), CAST(N'2004-06-13T00:00:00.000' AS DateTime), CAST(N'2004-06-08T00:00:00.000' AS DateTime), 5, N'SO71776', N'PO19952192051', N'10-4020-000106', 106, 640, 640, N'CARGO TRANSPORT 5', 78.8100, 6.3000, 1.9700, N'87.0851')
INSERT [SAW].[SalesOrderHeader] ([SalesOrderID], [RevisionNumber], [OrderDate], [DueDate], [ShipDate], [Status], [SalessOrderNumber], [PurchaseOrderNumber], [AccountNumber], [CustomerID], [ShipToAddressID], [BillToAddressID], [ShipMethod], [SubTotal], [TaxAmt], [Freight], [Commnt]) VALUES (71780, 1, CAST(N'2004-06-01T00:00:00.000' AS DateTime), CAST(N'2004-06-13T00:00:00.000' AS DateTime), CAST(N'2004-06-08T00:00:00.000' AS DateTime), 5, N'SO71780', N'PO19604173239', N'10-4020-000340', 340, 653, 653, N'CARGO TRANSPORT 5', 38418.6900, 3073.5000, 960.4700, N'42452.6519')
GO
